/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 May 2020, 12:55:32
    Author     : ivan
*/

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
/* Style the header */
header {
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color: darkslategray;
    background-color: #f1f1f1;
}

/* Container for flexboxes */
section {
   display: -webkit-flex;
    display: flex;
}

/* Style the navigation menu */
nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: url("https://am3pap006files.storage.live.com/y4mxciBpk0hfUODWzN0eMUvcFUOyVJ8K3UEdt6WVAebEeKUmaaPHnZYUlqvPSKU1NBTJDJchGX4c0-pwfTEtwt-fCP93T2Fdzx7TA3-0kgCK3zjjJQjpdRJBBGY5IHfoOWSFhOUFj2QEfQ3sbf8V7TldyUxl1G8Vrf3y7i5v96luJOu6g7sNLc1YTxiGsXErBzPjVPPFxz64uGu8aYZaQl21g/skola.jpg?psid=1&width=861&height=618");
    background-size: contain;
    background-repeat: repeat;
    padding: 100px;
}
 

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

/* Style the content */
article {
      -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}